**6.Write a Python program to load the csv file (prediction.csv) and display
Shape, Head, Column names**

In [1]:
import pandas as pd
data = pd.read_csv('loan_data.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [4]:
data.shape

(381, 13)

In [5]:
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

**2 Write a Python program to load the iris data from a given csv file into a
dataframe and print the shape of the data, type of the data and first 5
rows(Head)**

In [6]:
import pandas as pd
data = pd.read_csv('Iris.csv')
data.shape

(150, 6)

In [7]:
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [8]:
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**3. Write a Python program to create dataframe using random data and display**

In [10]:
import pandas as pd
import numpy as np

#create DataFrame
df = pd.DataFrame(np.random.randint(0,100,size=(10, 3)), columns=list('XYZ'))

#view DataFrame
print(df)

    X   Y   Z
0  74  46  72
1   4  86  42
2  11  51  91
3  71  38  91
4  36  39  80
5  71  91  43
6  30  94   9
7  25  38  45
8  71  46  14
9  63  92  65

**4.Write a Python program to read the data randomly of 100 samples and split the data into 80% training data and
display it without using sklearn**

In [27]:
import pandas as pd
import numpy as np

import random

# Replace "your_data" with the actual data you want to split
data =data = pd.read_csv('customer.csv')  # Sample data

# Shuffle the data randomly
#random.shuffle(data)

# Number of samples to read
num_samples = 100
data = data[:num_samples]  # Select the first 100 samples

# Calculate split point for 80/20 split
split_point = int(0.8 * len(data))

# Separate training and test data
training_data = data[:split_point]
test_data = data[split_point:]

# Display training data
print("Training Data:")
for item in training_data:
    print(item)

# Display test data
print("\nTest Data:")
for item in test_data:
    print(item)

Training Data:
Index
Customer Id
First Name
Last Name
Company
City
Country
Phone 1
Phone 2
Email
Subscription Date
Website

Test Data:
Index
Customer Id
First Name
Last Name
Company
City
Country
Phone 1
Phone 2
Email
Subscription Date
Website

In [28]:
print(training_data)

    Index      Customer Id First Name   Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl      Baxter
1       2  1Ef7b82A4CAAD10    Preston      Lozano
2       3  6F94879bDAfE5a6        Roy       Berry
3       4  5Cef8BFA16c5e3c      Linda       Olsen
4       5  053d585Ab6b3159     Joanna      Bender
..    ...              ...        ...         ...
75     76  d40e89dCade7b2F      Debra      Riddle
76     77  BF6a1f9bd1bf8DE   Brittany      Zuniga
77     78  FfaeFFbbbf280db    Cassidy     Mcmahon
78     79  CbAE1d1e9a8dCb1     Laurie  Pennington
79     80  A7F85c1DE4dB87f  Alejandro       Blair

                            Company                 City  \
0                   Rasmussen Group         East Leonard
1                       Vega-Gentry    East Jimmychester
2                     Murillo-Perry        Isabelborough
3   Dominguez, Mcmillan and Donovan           Bensonview
4          Martin, Lang and Andrade       West Priscilla
..                              ...                  ...
75       Chang, Aguirre and Leblanc           Colinhaven
76                     Mason-Hester        West Reginald
77       Mcguire, Huynh and Hopkins   Lake Sherryborough
78          Sanchez, Marsh and Hale  Port Katherineville
79         Combs, Waller and Durham           Thomasland

                         Country                 Phone 1  \
0                          Chile            229.077.5154
1                       Djibouti              5153435776
2            Antigua and Barbuda         +1-539-402-0259
3             Dominican Republic  001-808-617-6467x12895
4     Slovakia (Slovak Republic)  001-234-203-0635x76146
..                           ...                     ...
75  United States Virgin Islands   +1-768-182-6014x14336
76               Kyrgyz Republic           (050)136-9025
77                       Myanmar              5040771311
78                      Dominica        007.155.3406x553
79                       Iceland     (690)068-4641x51468

                  Phone 2                         Email Subscription Date  \
0        397.884.0519x718      zunigavanessa@smith.info        2020-08-24
1        686-620-1820x944               vmata@colon.com        2021-04-23
2     (496)978-3969x58947           beckycarr@hogan.com        2020-03-25
3         +1-813-324-8756   stanleyblackwell@benson.org        2020-06-02
4   001-199-446-3860x3486       colinalvarado@miles.net        2021-04-17
..                    ...                           ...               ...
75          (303)961-4491       shieldskerry@robles.com        2020-07-11
76  001-480-851-2496x0157  mchandler@cochran-huerta.org        2021-07-24
77      684-682-0021x1326    katrinalane@fitzgerald.com        2020-10-21
78    +1-809-862-5566x277          cookejill@powell.com        2020-06-08
79      555.509.8691x2329       elizabethbarr@ewing.com        2020-09-19

                         Website
0     http://www.stephenson.com/
1          http://www.hobbs.com/
2       http://www.lawrence.com/
3     http://www.good-lyons.com/
4    https://goodwin-ingram.com/
..                           ...
75           http://kaiser.info/
76         http://www.boyle.com/
77            https://hurst.com/
78        http://www.hebert.com/
79  https://mercado-blevins.com/

[80 rows x 12 columns]

In [29]:
print(test_data)

    Index      Customer Id First Name   Last Name  \
80     81  D6CEAfb3BDbaa1A     Leslie    Jennings
81     82  Ebdb6F6F7c90b69   Kathleen       Mckay
82     83  E8E7e8Cfe516ef0     Hunter      Moreno
83     84  78C06E9b6B3DF20       Chad    Davidson
84     85  03A1E62ADdeb31c      Corey        Holt
85     86  C6763c99d0bd16D       Emma  Cunningham
86     87  ebe77E5Bf9476CE      Duane       Woods
87     88  E4Bbcd8AD81fC5f     Alison      Vargas
88     89  efeb73245CDf1fF     Vernon        Kane
89     90  37Ec4B395641c1E       Lori     Flowers
90     91  5ef6d3eefdD43bE       Nina      Chavez
91     92  98b3aeDcC3B9FF3      Shane       Foley
92     93  aAb6AFc7AfD0fF3     Collin       Ayers
93     94  54B5B5Fe9F1B6C5     Sherry       Young
94     95  BE91A0bdcA49Bbc    Darrell     Douglas
95     96  cb8E23e48d22Eae       Karl       Greer
96     97  CeD220bdAaCfaDf       Lynn    Atkinson
97     98  28CDbC0dFe4b1Db       Fred      Guerra
98     99  c23d1D9EE8DEB0A     Yvonne      Farmer
99    100  2354a0E336A91A1   Clarence      Haynes

                        Company               City  \
80            Blankenship-Arias          Coreybury
81     Coffey, Lamb and Johnson     Lake Janiceton
82         Fitzpatrick-Lawrence       East Clinton
83               Garcia-Jimenez  South Joshuashire
84   Mcdonald, Bird and Ramirez         New Glenda
85                 Stephens Inc  North Jillianview
86               Montoya-Miller          Lyonsberg
87      Vaughn, Watts and Leach  East Cristinabury
88            Carter-Strickland         Thomasfurt
89              Decker-Mcknight     North Joeburgh
90                Byrd-Campbell     Cassidychester
91                   Rocha-Hart   South Dannymouth
92                Lamb-Peterson       South Lonnie
93      Lee, Lucero and Johnson       Frankchester
94  Newton, Petersen and Mathis       Daisyborough
95                    Carey LLC       East Richard
96        Ware, Burns and Oneal       New Bradview
97                Schmitt-Jones         Ortegaland
98           Fitzgerald-Harrell    Lake Elijahview
99           Le, Nash and Cross          Judymouth

                             Country                Phone 1  \
80                        Micronesia           629.198.6346
81  Saint Vincent and the Grenadines          (733)910-9968
82                       Isle of Man          (733)833-6754
83                              Oman             8275702958
84                              Fiji  001-439-242-4986x7918
85                       New Zealand     128-059-0206x60217
86                          Maldives     (636)544-7783x7288
87                             Benin           365-273-8144
88                             Yemen       114-854-1159x555
89                           Namibia           679.415.1210
90                            Bhutan           053-344-3205
91                           Hungary        +1-822-569-0302
92                          Anguilla       404-645-5351x012
93                   Solomon Islands           158-687-1764
94                              Mali  001-084-845-9524x1777
95                            Guyana    (188)169-1674x58692
96                         Sri Lanka        +1-846-706-2218
97                   Solomon Islands   +1-753-067-8419x7170
98                             Aruba          (530)311-9786
99                          Honduras          (753)813-6941

                   Phone 2                              Email  \
80            075.256.0829                corey75@wiggins.com
81      (691)247-4128x0665  chloelester@higgins-wilkinson.com
82        001-761-013-7121          isaac26@benton-finley.com
83           (804)842-4715          justinwalters@jimenez.com
84              3162708934               maurice46@morgan.com
85      (312)164-4545x2284                walter83@juarez.org
86      (203)287-1003x5932                 kmercer@wagner.com
87       053-308-7653x6287                  vcantu@norton.com
88            499-608-4612             hilljesse@barrett.info
89       945-842-3659x4581           tyrone77@valenzuela.info
90     +1-330-920-5422x571               elliserica@frank.com
91  001-626-114-5844x55073                 nsteele@sparks.com
92   001-257-582-8850x8516           dudleyemily@gonzales.biz
93       (438)375-6207x003        alan79@gates-mclaughlin.com
94        001-769-564-6303           grayjean@lowery-good.com
95    001-841-293-3519x614                   hhart@jensen.com
96            605.413.3198                  vkemp@ferrell.com
97   +1-632-666-7507x92121                   swagner@kane.org
98  001-869-452-0943x12424     mccarthystephen@horn-green.biz
99            783.639.1472             colleen91@faulkner.biz

   Subscription Date                            Website
80        2021-11-13            https://www.juarez.com/
81        2021-09-12       http://www.owens-mooney.com/
82        2020-12-28                 http://walls.info/
83        2021-11-15      http://www.garner-oliver.com/
84        2020-02-18             http://www.watson.com/
85        2022-05-13              http://www.reid.info/
86        2020-07-21                 http://murray.org/
87        2020-11-10                 http://mason.info/
88        2021-04-15      http://www.duffy-hensley.net/
89        2021-01-09      http://www.deleon-crosby.com/
90        2020-03-26              https://www.pugh.com/
91        2021-07-06       https://www.holt-sparks.com/
92        2021-06-29               http://www.ruiz.com/
93        2021-04-04                https://travis.net/
94        2022-02-17                 https://banks.biz/
95        2022-01-30            http://hayes-perez.com/
96        2021-07-10         https://novak-allison.com/
97        2021-09-18              https://www.ross.com/
98        2021-08-11               http://watkins.info/
99        2020-03-11  http://www.hatfield-saunders.net/

**10.Write a Python program to read the data randomly of 100 samples and split the data into 20% testing data and
display it without using sklearn**

In [30]:
import pandas as pd
import numpy as np

import random

# Replace "your_data" with the actual data you want to split
data=pd.read_csv('customer.csv')  # Sample data



# Number of samples to read
num_samples = 100
data = data[:num_samples]  # Select the first 100 samples

# Calculate split point for 20/80 split
split_point = int(0.2 * len(data))

# Separate training and test data
training_data = data[split_point:]
test_data = data[:split_point]  # Note the swapped order for 20% test data

# Display training data
print("Training Data:")
for item in training_data:
    print(item)

# Display test data
print("\nTest Data:")
for item in test_data:
    print(item)

Training Data:
Index
Customer Id
First Name
Last Name
Company
City
Country
Phone 1
Phone 2
Email
Subscription Date
Website

Test Data:
Index
Customer Id
First Name
Last Name
Company
City
Country
Phone 1
Phone 2
Email
Subscription Date
Website

In [31]:
print(training_data)

    Index      Customer Id First Name   Last Name                     Company  \
20     21  9F9AdB7B8A6f7F2    Maxwell        Frye               Patterson Inc
21     22  FBd0Ded4F02a742      Kiara     Houston  Manning, Hester and Arroyo
22     23  2FB0FAA1d429421    Colleen      Howard              Greer and Sons
23     24  010468dAA11382c      Janet  Valenzuela             Watts-Donaldson
24     25  eC1927Ca84E033e      Shane      Wilcox                  Tucker LLC
..    ...              ...        ...         ...                         ...
95     96  cb8E23e48d22Eae       Karl       Greer                   Carey LLC
96     97  CeD220bdAaCfaDf       Lynn    Atkinson       Ware, Burns and Oneal
97     98  28CDbC0dFe4b1Db       Fred      Guerra               Schmitt-Jones
98     99  c23d1D9EE8DEB0A     Yvonne      Farmer          Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence      Haynes          Le, Nash and Cross

               City                           Country                 Phone 1  \
20       East Carly                             Malta            423.262.3059
21      South Alvin                       Netherlands  001-274-040-3582x10611
22     Brittanyview                          Paraguay              1935085151
23    Veronicamouth  Lao People's Democratic Republic       354.259.5062x7538
24       Bryanville                           Albania     (429)005-9030x11004
..              ...                               ...                     ...
95     East Richard                            Guyana     (188)169-1674x58692
96     New Bradview                         Sri Lanka         +1-846-706-2218
97       Ortegaland                   Solomon Islands    +1-753-067-8419x7170
98  Lake Elijahview                             Aruba           (530)311-9786
99        Judymouth                          Honduras           (753)813-6941

                   Phone 2                             Email  \
20       202-880-0688x7491            fgibson@drake-webb.com
21    +1-528-175-0973x4684  blanchardbob@wallace-shannon.com
22      (947)115-7711x5488        rsingleton@ryan-cherry.com
23            500.433.2022             stefanie71@spence.com
24            541-116-4501               mariah88@santos.com
..                     ...                               ...
95    001-841-293-3519x614                  hhart@jensen.com
96            605.413.3198                 vkemp@ferrell.com
97   +1-632-666-7507x92121                  swagner@kane.org
98  001-869-452-0943x12424    mccarthystephen@horn-green.biz
99            783.639.1472            colleen91@faulkner.biz

   Subscription Date                            Website
20        2022-01-12            http://www.roberts.com/
21        2020-09-15        https://www.reid-potts.com/
22        2020-08-19                   http://paul.biz/
23        2020-09-08                https://moreno.biz/
24        2021-04-06             https://www.ramos.com/
..               ...                                ...
95        2022-01-30            http://hayes-perez.com/
96        2021-07-10         https://novak-allison.com/
97        2021-09-18              https://www.ross.com/
98        2021-08-11               http://watkins.info/
99        2020-03-11  http://www.hatfield-saunders.net/

[80 rows x 12 columns]

In [32]:
print(test_data)

    Index      Customer Id First Name  Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl     Baxter
1       2  1Ef7b82A4CAAD10    Preston     Lozano
2       3  6F94879bDAfE5a6        Roy      Berry
3       4  5Cef8BFA16c5e3c      Linda      Olsen
4       5  053d585Ab6b3159     Joanna     Bender
5       6  2d08FB17EE273F4      Aimee      Downs
6       7  EA4d384DfDbBf77     Darren       Peck
7       8  0e04AFde9f225dE      Brett     Mullen
8       9  C2dE4dEEc489ae0     Sheryl     Meyers
9      10  8C2811a503C7c5a   Michelle  Gallagher
10     11  216E205d6eBb815       Carl  Schroeder
11     12  CEDec94deE6d69B      Jenna     Dodson
12     13  e35426EbDEceaFF     Tracey       Mata
13     14  A08A8aF8BE9FaD4   Kristine        Cox
14     15  6fEaA1b7cab7B6C      Faith       Lutz
15     16  8cad0b4CBceaeec    Miranda    Beasley
16     17  a5DC21AE3a21eaA   Caroline      Foley
17     18  F8Aa9d6DfcBeeF8       Greg       Mata
18     19  F160f5Db3EfE973   Clifford   Jacobson
19     20  0F60FF3DdCd7aB0     Joanna       Kirk

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
5                      Steele Group      Chavezborough
6      Lester, Woodard and Mitchell           Lake Ana
7      Sanford, Davenport and Giles            Kimport
8                    Browning-Simon       Robersonstad
9                      Beck-Hendrix         Elaineberg
10       Oconnell, Meza and Everett       Shannonville
11        Hoffman, Reed and Mcclain        East Andrea
12                   Graham-Francis  South Joannamouth
13                   Carpenter-Cook           Jodyberg
14                   Carter-Hancock          Burchbury
15               Singleton and Sons       Desireeshire
16                  Winters-Mendoza  West Adriennestad
17                    Valentine LLC        Lake Leslie
18                        Simon LLC         Harmonview
19                   Mays-Mccormick         Jamesshire

                                         Country                 Phone 1  \
0                                          Chile            229.077.5154
1                                       Djibouti              5153435776
2                            Antigua and Barbuda         +1-539-402-0259
3                             Dominican Republic  001-808-617-6467x12895
4                     Slovakia (Slovak Republic)  001-234-203-0635x76146
5                         Bosnia and Herzegovina     (283)437-3886x88321
6                               Pitcairn Islands      (496)452-6181x3291
7                                       Bulgaria    001-583-352-7197x297
8                                         Cyprus       854-138-4911x5772
9                                    Timor-Leste        739.218.2516x459
10                                      Guernsey        637-854-0256x825
11                                       Vietnam           (041)737-3846
12                                          Togo        001-949-844-8787
13                                     Sri Lanka      786-284-3358x62152
14                                     Singapore      (781)861-7180x8306
15                                          Oman        540.085.3135x185
16                                Western Sahara       936.222.4746x9924
17                                    Mozambique           (701)087-2415
18  South Georgia and the South Sandwich Islands   001-151-330-3524x0469
19                              French Polynesia       (266)131-7001x711

                  Phone 2                               Email  \
0        397.884.0519x718            zunigavanessa@smith.info
1        686-620-1820x944                     vmata@colon.com
2     (496)978-3969x58947                 beckycarr@hogan.com
3         +1-813-324-8756         stanleyblackwell@benson.org
4   001-199-446-3860x3486             colinalvarado@miles.net
5            999-728-1637                 louis27@gilbert.com
6    +1-247-266-0963x4995                 tgates@cantrell.com
7        001-333-145-0369                     asnow@colon.com
8     +1-448-910-2276x729             mariokhan@ryan-pope.org
9    001-054-401-0347x617                   mdyer@escobar.net
10       114.336.0784x788                  kirksalas@webb.com
11  +1-556-888-3485x42608                  mark42@robbins.com
12          (855)713-8773                    alex56@walls.org
13   +1-315-627-1796x8074            holdenmiranda@clarke.com
14           207-185-3665   cassieparrish@blevins-chapman.net
15  +1-600-462-6432x21881             vduncan@parks-hardy.com
16   001-469-948-6341x359  holtgwendolyn@watson-davenport.com
17    (195)156-1861x26241             jaredjuarez@carroll.org
18          (748)477-7174               joseph26@jacobson.com
19    (283)312-5579x11543             tuckerangie@salazar.net

   Subscription Date                      Website
0         2020-08-24   http://www.stephenson.com/
1         2021-04-23        http://www.hobbs.com/
2         2020-03-25     http://www.lawrence.com/
3         2020-06-02   http://www.good-lyons.com/
4         2021-04-17  https://goodwin-ingram.com/
5         2020-02-25       http://www.berger.net/
6         2021-08-24          https://www.le.com/
7         2021-04-12  https://hammond-ramsey.com/
8         2020-01-13     https://www.bullock.net/
9         2021-11-08           https://arias.com/
10        2021-10-20  https://simmons-hurley.com/
11        2020-11-29      http://www.douglas.net/
12        2021-12-02         http://www.beck.com/
13        2021-02-08      https://www.brandt.com/
14        2022-01-26        http://stevenson.org/
15        2022-04-12           http://acosta.org/
16        2021-03-10  http://www.benson-roth.com/
17        2022-03-26     http://pitts-cherry.com/
18        2020-09-24       https://mcconnell.com/
19        2021-09-24     https://www.camacho.net/